/* CSS para os buttons do OrcaObras */
.group-rigth {
	float: right;
}

.group-left {
	float: left;
}

.button-menu {
	text-indent: 0;
	display: inline-block;
	color: #f8f8f8;
	height: 100%;
	line-height: 30px;
	width: 100px;
	text-decoration: none;
	text-align: center;
}

.button-menu-small {
	width: 65px;
}

.button-menu:hover {
	background-color: #f8f8f8;
	color: #333;
}

.button-menu:active {
	background-color: #fff;
}

.button-modules {
	display: block;
	padding: 3px;
	padding-top: 30px;
	width: 120px;
	height: 100px;
	margin: 10px 10px;
	text-decoration: none;
	color: #333;
	text-align: center;
	border: 1px solid #888;
	border-radius: 10px;
	vertical-align: middle;
	float: left;
}

.button-modules:hover {
	background-color: #f8f8f8;
}

.button-modules div {
	margin-top: 30px
}

.button-modules div img {
}


.button-cadastro input[type="button"],
.button-cadastro input[type="submit"] {
	border: 0;
	cursor: pointer;
	width: 80px;
	height: 25px;
	margin-top: 10px;
	margin: 3px;
	background: #333;
	color: #f8f8f8;
	float: right;
}

.button-cadastro input[type="button"]:active,
.button-cadastro input[type="submit"]:active {
	background-color: #fff;
	color: #333;
}