/* CSS padrão do OrcaObras */
body {
	margin: 0;
	padding: 0;
}

#header {
	margin: 0;
	padding: 0;
	height: 80px;
	background-color: #B0B0B0;
}

#imgHeader {
	margin: 10px;
}

#menu {
	margin: 0;
	padding: 0;
	height: 30px;
	background-color: #fff;
	box-shadow: 0px 3px 5px #B0B0B0;
}