.title_page {
	display: block;
	font-size: 14pt;
	margin-top: 15px;
	margin-bottom: 30px;
	padding-left: 10px;
	border-bottom: 1px solid #000;
}

.box-cadastro {
	padding: 15px;
	position: absolute;
	z-index: -1;
}

.item-cadastro {
	margin: 3px;
}

.item-cadastro label {
	display: inline-block; 
	width: 200px; 
	text-align: right;
	line-height: 180%;
	background-color: #333;
	color: #fff;
}

.item-cadastro input[type="email"], 
.item-cadastro input[type="number"], 
.item-cadastro input[type="password"], 
.item-cadastro input[type="tel"], 
.item-cadastro input[type="url"],
.item-cadastro input[type="text"] {
	width: 350px;
}

.table-listagem {
	border: 1px solid #333;
	border-bottom: 5px solid #333;
	border-collapse: collapse;
}

.table-listagem tr td {
	border: 1px dotted #333;
	border-top: 0;
	border-collapse: collapse;
	padding: 3px;
}

.table-listagem thead {
	background-color: #333;
	color: #fff;
}

.table-listagem thead th {
	padding: 3px;
}

.table-listagem-container {
	display: table;
}

.img-list {
	witdh: 16px;
	height: 16px;
}