/* CSS para tela de Login*/

body {
	background-color: #B0B0B0
}

#header {
	height: 80px;
	position: relative;
}

#header-inner {
	height: 100%;
	width: 1100px;
}

#body-page{
	width:500px;
	height:400px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-200px;
	margin-left:-250px;
}

#form-login {
	background-color: #333;
	height: 400px;
	width: 180px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -250px;
}

.image-login{
	width: 500px;
	height: 400px;
}

.image-head {
	width: 400px;
	margin-left: 250px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}
