/* CSS para template do OrcaObras */
body {
	margin: 0;
	font-family: Verdana;
	font-size: 9pt;
	position: absolute;
	width: 100%;
}

#header {
	height: 80px;
	background-color: #B0B0B0;
	position: absolute;
	width: 100%;
}

#header-inner {
	height: 100%;
	width: 1100px;
}

#menu {
	height: 30px;
	box-shadow: 0px 3px 5px #B0B0B0;
	position: absolute;
	width: 100%;
	background-color: #333;
	margin-top: 80px;
	z-index: 1;
}

#menu-inner {
	height: 100%;
	width: 1100px;
	z-index: 1;
}

#body-page {
	width: 1070px;
	min-height: 500px;
	box-shadow: 0px -5px 5px #B0B0B0;
	margin-top: 110px;
	padding: 15px;
}

#user-loged {
	float: right;
	line-height: 80px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.img-header {
	margin: 10px;
}