<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OrcamentoObrasWeb</display-name>
  <welcome-file-list>
    <welcome-file>modules/home.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>UsuarioController</display-name>
    <servlet-name>UsuarioController</servlet-name>
    <servlet-class>edu.asselvi.orcamentoobrasw.controller.UsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioController</servlet-name>
    <url-pattern>/UsuarioController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>OrcamentoController</display-name>
    <servlet-name>OrcamentoController</servlet-name>
    <servlet-class>edu.asselvi.orcamentoobrasw.controller.OrcamentoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrcamentoController</servlet-name>
    <url-pattern>/OrcamentoController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CustoUnitarioBasicoController</display-name>
    <servlet-name>CustoUnitarioBasicoController</servlet-name>
    <servlet-class>edu.asselvi.orcamentoobrasw.controller.CustoUnitarioBasicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustoUnitarioBasicoController</servlet-name>
    <url-pattern>/CustoUnitarioBasicoController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>TerrenoController</display-name>
    <servlet-name>TerrenoController</servlet-name>
    <servlet-class>edu.asselvi.orcamentoobrasw.controller.TerrenoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TerrenoController</servlet-name>
    <url-pattern>/TerrenoController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ProdutoController</display-name>
    <servlet-name>ProdutoController</servlet-name>
    <servlet-class>edu.asselvi.orcamentoobrasw.controller.ProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoController</servlet-name>
    <url-pattern>/ProdutoController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AuthController</display-name>
    <servlet-name>AuthController</servlet-name>
    <servlet-class>edu.asselvi.orcamentoobrasw.controller.AuthController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthController</servlet-name>
    <url-pattern>/AuthController</url-pattern>
  </servlet-mapping>
</web-app>